.header {
  padding-top: 20px;
  padding-bottom: 8px;
  position: absolute;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1267px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.btn_start {
  border-radius: 25px;
  border: none;
  width: 180px;
  height: 50px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}

.btn_link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--font-family);
}
