.footer {
  border-top: 1.5px solid #826f8c;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #fee9dc;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1267px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  flex-wrap: wrap;
}

.footer_logo {
  width: 200px;
}

.logo {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.copyright {
  font-size: 16px;
  text-align: center;
  color: #826f8c;
  font-family: var(--font-family);
}

.links {
  display: flex;
  gap: 18px;
}

.link_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: #fcd8cb;
}
