.hero {
  background-size: cover;
  background-image: url("../../../assets/images/image\ 3.png");
  background-repeat: no-repeat;
  padding-top: 145px;
  padding-bottom: 98px;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1267px;
  display: flex;
  gap: 35px;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_title {
  margin: 0 0 15px;
  font-size: 23px;
  color: #446381;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 104%;
  text-align: left;
}

.content_subtitle {
  font-size: 68px;
  color: #eb8382;
  font-family: var(--font-family);
  line-height: 110%;
  text-align: left;
  margin: 0;
}

.subtitle_blue_mgbottom {
  margin-bottom: 36px;
  color: #446381;
}

.content_text {
  margin: 0 0 34px;
  font-size: 18px;
  line-height: 162%;
  font-weight: 500;
  font-family: var(--font-family);
  text-align: left;
  color: #826f8c;
}

.hero_btn {
  width: 207px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
  cursor: pointer;
}

.content_link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-family);
  line-height: 133%;
}

.hero_img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.box_vr {
  position: absolute;
  z-index: 4;
  left: -3vw;
}

.box_gp {
  position: absolute;
  right: -4vw;
  bottom: -20px;
  z-index: 4;
}
